@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
    int i = 1;
}

<div class="text-center">
    <h1 class="display-4">Welcome HRS</h1>
    <p>MPOB Human Resources System</p>    
</div>

<h2>Senarai Peserta Latihan</h2>
<table class="table">
    <thead>
        <tr>
            <th>Bil</th>
            <th>Nama</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
    <tr>
        <td>@(i++).</td>
        <td>@item</td>
    </tr>
}
    </tbody>
</table>